<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Explorer</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .bannerFondo {
            height: 200px;
        }
    
        .orse {
            background-color: #128386
        }

        .container{
            margin-top: 20px;
            margin-bottom: 50px;
            margin-right: 10%;
            margin-left: 10%;
        }
        body{
            background-color: #F3F4F6;
        }
    </style>
</head>
<body>
    <div class="flex flex-col h-screen justify-between">
    <div id="header" class="bannerFondo orse pt-16 pb-10 mb-5">
        <div class="w-full text-center">
            <p class="text-sm tracking-widest text-white uppercase">Share files in your local network</p>
            <h1 class="font-bold text-5xl text-white uppercase">
                File Explorer
            </h1>
        </div>
    </div>
    <div class="container">
        <ul id="files" style="display: block;">
        </ul>
    </div>

    <footer class="h-20 text-center pt-16 pb-20 orse text-white">
        <p class="text-sm tracking-widest text-white uppercase">Developed by <a href="https://cristiancosano.com/">Cristian Cosano</a></p>
        <p class="text-sm tracking-widest text-white uppercase">Available ips: <span id="ips"></span></p>
        <p class="text-sm tracking-widest text-white uppercase">Used port: <span id="port"></span></p>

    </footer>
</div>
    
    <script>
        function createFolder(li, name){

            //Icon node
            let icon = document.createElement('span')
            icon.classList.add('material-icons', 'align-middle', 'mr-1')
            icon.appendChild(document.createTextNode('folder'))
            icon.style='color: #5F6367'

            //Folder name node
            let currentDirectory = document.createElement('span')
            currentDirectory.appendChild(document.createTextNode(name+':'))
            currentDirectory.classList.add('font-medium', 'align-middle')

            //Adding icon and text to list item
            li.appendChild(icon)
            li.appendChild(currentDirectory)
        }

        function createFile(li, filename, path){
            let a = document.createElement('a')
            a.href=path
            a.classList.add('align-middle')
            let icon = document.createElement('span')
            icon.classList.add('material-icons', 'align-middle', 'mr-1')
            icon.style='color: #4385F3'

            icon.appendChild(document.createTextNode('description'))
            a.appendChild(icon)
            a.appendChild(document.createTextNode(filename))
            li.appendChild(a); 
        }
        function setFiles(files, ul){
            var ul = ul || document.getElementById('files')

            for(i in files){
                let li = document.createElement('li');
               
                if(Array.isArray(files[i])){
                    let newUl = document.createElement('ul')
                    var directory = files[i][0];
                    while(Array.isArray(directory)) directory = directory[0]
                    
                    directory = directory.directory.split('/').pop()
                
                    createFolder(li, directory)
                    newUl.classList.add('pl-5')

                    li.appendChild(newUl)
                    setFiles(files[i], newUl)
                }
                else createFile(li, files[i].filename, files[i].path)
                
                ul.appendChild(li)
            }   
        }

        function setIps(ips){
            const domIp = document.getElementById('ips')
            let text = ''
            for(ip in ips){
                let current = ips.pop()
                text += current.ip
                if(ips.length > 0) text += ','
            }

            domIp.appendChild(document.createTextNode(text))
        }

        function setPort(port){
            const domPort = document.getElementById('port')
            domPort.appendChild(document.createTextNode(port))
        }
        fetch('/api/files')
            .then(response => response.json())
            .then(data => {
                setFiles(data.files)
            });

        fetch('/api/network')
            .then(response => response.json())
            .then(data => {
                setIps(data.ips)
                setPort(data.port)
            })
    </script>
</body>
</html>